@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  max-width: 900px;
  margin: auto;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
}